<div>
    <h1 class="flex justify-center  text-xxl h-7 bg-[#b2b2b2]">UI KIT PHOTOGRAPHY</h1>
    <div class="">
        <h2>Gallery</h2>
        <div class="flex flex-col">
            <lib-gallery
                [galleryData]="data"
                [showCount]="true"></lib-gallery>
        </div>

        <h2>Copyright</h2>
        <div class="flex flex-col">
            <lib-copyright></lib-copyright>
            <br>
            <lib-copyright
                backgroundColor="dark"></lib-copyright>
        </div>

        <h2>Footers</h2>
        <div class="flex flex-col">
            <lib-footer></lib-footer>
            <br>
            <lib-footer
                backgroundColor="dark"></lib-footer>
        </div>

        <h2>Headers</h2>
        <div class="flex flex-col">
            <lib-header></lib-header>
            <br>
            <lib-header
                backgroundColor="dark"></lib-header>
            <br>
            <lib-header
            backgroundColor="transparent"></lib-header>
        </div>
        <br>
        <h3 class="flex">Buttons</h3>

        <div class="flex flex-col">
            <lib-button
            backgroundColor="primary-underline"
            text="Envoyer"></lib-button>
            <br>
            <lib-button
            backgroundColor="primary"
            text="Envoyer"></lib-button>
            <br>
            <lib-button
            backgroundColor="dark"
            text="Envoyer"></lib-button>
        </div>
        <h3>Inputs</h3>
        <div class="flex flex-col">
            <lib-input
            backgroundColor="primary-underline"
            placeholder="placeholder"></lib-input>
            <br>
            <lib-input
            backgroundColor="primary"
            type="number"
            placeholder="placeholder"></lib-input>
            <br>
            <lib-input
            backgroundColor="dark"
            placeholder="placeholder"
            Value></lib-input>
            <br>
            <lib-input
            backgroundColor="primary-underline"
            placeholder="placeholder"
            size="small"></lib-input>
            <br>
            <lib-input
            backgroundColor="primary"
            type="number"
            placeholder="placeholder"
            size="small"></lib-input>
            <br>
            <lib-input
            backgroundColor="dark"Z
            placeholder="placeholder"
            size="small"></lib-input>
        </div>
        <br><br><br><br><br><br><br>
        <h3>Text Areas</h3>
        <div class="flex flex-col"><div class="flex flex-col">
            <lib-textarea></lib-textarea>
            <lib-textarea
                text="hellod "
                backgroundColor="primary-underline"></lib-textarea>
            <lib-textarea
                backgroundColor="dark"></lib-textarea>
        </div>
    </div>
</div>
